.print-div{
  table{
      text-align:center;/*文本居中*/
      border-collapse:collapse; /*表格的边框合并，如果相邻，则共用一个边框*/
      border-spacing:0; /*设置行与单元格边框的间距。当表格边框独立（即
      border-collapse:separate;）此属性才起作用*/
  }
  table td{
      word-break: break-all; /*允许在字内换行,即单词可分*/
      word-wrap:break-word;/*允许长单词或URL地址换行*/
      border:1px solid #B8B8B8;
  }
  th{
    font-weight: 100;
    line-height: 40px;
  }
  .search-title-content{
    .title{
      text-align: center;
      line-height: 40px;
      background: #EFEFEF;
      font-weight: bold;
      color: #333333;
    }
    .text{
      width: 100%;
    }
    table{
      .table-td-title{
        font-size: 18px;
        color: #333333;
        line-height: 27px;
        font-weight: 100;
        line-height: 40px;
      }
      .table-td-content{
        font-size: 18px;
        color: #999;
        line-height: 40px;
      }
      .table-td-textarea{
        line-height: 70px;
        font-size: 18px;
        color: #999;
      }
    }
  }
}